<div style="width: 50%; height: 300px; border: 2px solid red; margin:10px auto; overflow: scroll;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Capacity</th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let item of depts; let e = even;let o=odd"[ngClass]="{'bg-light':e,'bg-secondary':o}">
        <td>{{item.deptId}}</td>
        <td>{{item.deptName}}</td>
        <td>{{item.deptCapacity}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-success" (click)="show(item.deptId)">Show</button>
          <!-- <button type="button" class="btn btn-sm btn-success" (click)="edite(item.deptId)">edite</button> -->
        </td>
        <!-- <td>
          <button type="button" class="btn btn-info ms-2 mt-2" (click)="showDetails(student.id)">Details</button>
          <button type="button" class="btn btn-success ms-2 mt-2"  (click)="showEdit()">edit</button>
          <button type="button" class="btn btn-success ms-2 mt-2" (click)="showAdd()">Add</button>
          <button type="button" class="btn btn-danger ms-2 mt-2" (click)="deleteStd(student.id)">Delete</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
