<div>
  <h5>key_up_console</h5>
  <input type="text" (keyup)="sendWrittenByKeyUp($event)"><br>
  <h5>key_up_reference_console</h5>
  <input type="text" #ref (keyup.enter)="sendWrittenByReference(ref)"><br>
</div>
<div>
  <h1>Task_One</h1>
  <input type="text" #refToButton (keyup.enter)="sendWrittenByReference(refToButton)">
  <button (click)="typeInConsole(refToButton.value)">Save</button>
</div>
<div>
  <h1>Task_Two</h1>
  <input type="text" [(ngModel)]="insert"><br>
  <input type="text" [(ngModel)]="insert">
</div>
<div class="slider">
  <img [src]="img[0]" #image><br>
  <input type="button" #prv value="<" (click)="prev(image)">
  <input type="button" #play value="play" (click)="startShow(image,prv,play,stop,next)">
  <input type="button" #stop value="stop" (click)="stopShow(prv,play,stop,next)">
  <input type="button" #next value=">" (click)="goNext(image)">
</div>

